.animal_type_img {
    width: 5rem;
    margin: 1rem 0 0.5rem 0;
}

.animal_container {
    margin: 0.5rem 0;
    padding: 1rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 170, 182);
    border: solid 0.5px rgb(174, 126, 198);
    border-radius: 0.5rem;
}

.animal_container>p {
    margin: 0;
}